.footer{
    width: 100%;
    background-color: rgb(41, 46, 46);
}
.footer-column{
    display: inline-flex;
    padding: 10px;
    min-width: 320px;
    padding-left: 20px;
}
.currentColor{
    font-size: 25px;
}
.iteams{
    color: white;
}
